.logo-container {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.draw-outline {
  stroke-dasharray: 1000; /* Set the length of your path */
  stroke-dashoffset: 1000;
  transition: stroke-dashoffset 20s ease-in-out;
}

.fade-in-solid {
  opacity: 1;
}

